/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#post-form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.submit:hover {
    background-color: #0056b3;
}

#post-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card {
    margin-top: 10px;
    margin: 3px;
    width: 25%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
  }

  .post-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .post-card p {
    font-size: 16px;
    color: #555;
  }


/* Responsiveness */
@media screen and (max-width: 768px) {
    #post-form {
        width: 90%;
    }
}